body{
	font-family: sans-serif;
}

li{
	display: inline;
	padding-right: 10px;
}

ul a {
	text-decoration: none;
}

ul a:hover {
	text-decoration: underline; 
	font-size: 30px; 
	<!--鼠標放上去 出現underline-->
	<!--鼠標放上去會放大-->
}